.product_list {
  border-radius: var(--border-radius-sm);
  display: flex;
  background-color: white;

  list-style: none;
  
  display: flex;
  flex-direction: column;

  padding: 0 1rem;

  > li {
    &:not(:last-child) {
      border-bottom: solid 2px var(--gray-100);
    }
  }

  filter: var(--shadow-xl);
}

.sidebar { 
  padding-right: 1rem;
}